{%extends 'index.html'%}
{%load static%}

{% block title %}
    {{setting.title}}
{% endblock title %}


{% block description %}
    
{% endblock description %}
 

{% block keyword %}

{% endblock keyword %}
    
{% block header %}
        {% include 'header.html' %}        
{% endblock header %}
    

{% block sidebar %}
    
{% endblock sidebar %}


{% block slider %}
    {% include 'slider.html' %}
{% endblock slider %}  

{% block mainbody %}
    {% include 'content.html' %}
{% endblock mainbody %}
{% block footer %}
    {% include 'footer.html' %}        
{% endblock footer %}





 